<form method="post" action="/questions/<%=@question.id%>/edit">
  <input type="hidden" name="_method" value="put">
    <label for="title">Title:</label>
    <input class="block" type="text" name="question[title]" placeholder="<%=@question.title%>" value="<%=@question.try(:title)%>">

    <label for="content">Question:</label>
    <textarea class="block" name="question[question_content]" cols="65" rows="10" value="<%=@question.try(:question_content)%>"><%=@question.question_content%></textarea>
    <input type="submit" value="Edit" class="pretty_button">
</form>
