<h3><%=@question.title%></h3>


<ul>
  <li><%= @question.question_content %></li>

    <ul>
      <% @question_comments.each do |question_comment|%>
        <li><%=question_comment.comment_content %></li>
        <% end %>
    </ul>
</ul>

<h5>Answers: <%=@question.answers.count %></h5>
<ul>
  <% @answers.each do |answer| %>
    <li><%= answer.answer_content %></li>
    <ul>
       <% answer.comments.each do |answer_comment|%>
        <li><%= answer_comment.comment_content %></li>
        <% end %>
     </ul>
  <%end %>

</ul>
