
<table class = "question-main ">
  <tbody>
    <tr>
      <td>
      <h3><%= @question.title %></h3>
    </td>

      <td>
        <% if current_user? %>
         <button class="btn-outlined right" onclick="location.href='/questions/<%=@question.id%>/edit'"> Edit</button>
          <form class="inline-block" method="post" action="/questions/<%=@question.id%>/delete">
          <input type="hidden" name="_method" value="delete">
          <input class="btn-outlined" type="submit" value="Delete">
        </form>
        <% end %>
        <button type="button" class="btn-outlined right" onclick="location.href='/questions/ask'"/> Ask A Question </button>

      </td>
    </tr>
  </tbody>
</table>

<table class = "question-properties">
  <tbody>
    <tr>
      <td class="votecell">
        <div class="votes">
          <a href="#">Upvote</a>
        <span><%= @question.votes.count %></span>
        <a href="#">Downvote</a
      </div>
      </td>
      <td class="postcell">
        <div>
        <%= @question.question_content %>
      </div>

      <div>
        <a href="#">comment</a>
      </div>

      </td>
    </tr>
  </tbody>
</table>

<table class = "question-comments">
  <tbody>
    <tr>
      <td class="">

        <% @question.comments.each do |question_comment| %>
          <p><%= question_comment.comment_content %></p>
        <%end %>

      </td>
    </tr>
  </tbody>
</table>

<% @question.answers.each do |answer| %>

<table class = "answer-properties">
  <tbody>
    <tr>
      <td class="votecell">
        <% if answer.best_answer %>
          <img class="inline-block" src="/images/check.png">
        <% end %>
      </td>
      <td class="votecell">
        <div class="questionvotes">
          <a href="#">Upvote</a>
          <span><%= answer.votes.count %></span>
          <a href="#">Downvote</a
      </div>
      </td>
      <td class="postcell">

      <div class="inline-block">
        <%= answer.answer_content %>
      </div>

    </td>
    <% if current_user? && !@question.has_best_answer? %>
      <td class="postcell">
        <div class="inline-block">
          <button class="btn-outlined green right" onclick="location.href='/questions/<%=@question.id%>/solved/<%=answer.id%>'"> Mark as Solved</button>
        </div>
      </td>
    <% end %>
    <td class="postcell">
      <div>
        <a href="#">comment</a>
      </div>
    </td>
      </td>
    </tr>
  </tbody>
</table>

<table class = "answer-comments">
  <tbody>
    <tr>
      <td class="">

        <% answer.comments.each do |answer_comment| %>
          <p><%=answer_comment.comment_content %></p>
        <%end %>

      </td>
    </tr>
  </tbody>
</table>

<% end %>



<form method="post" action='/questions/<%="#{@question.id}"%>/answers'>
  <textarea class="block" name="answer[answer_content]" cols="65" rows="10"></textarea>
  <div class="block">
    <input class="pretty_button" type="submit" value="Post Your Answer">
  </div>
</form>

