  <table class = "answer-properties">
    <tbody>
      <tr>
        <td id="checkmark" class="votecell">
          <% if answer.best_answer %>
            <img class="inline-block" src="/images/check.png">
          <% end %>
        </td>
        <td class="votecell">
          <div class="questionvotes">
          <form class='upvote' action='/answers/<%= answer.id %>/vote' method='post'>
            <input type='hidden' name='up_down' value='1'>
            <input type='image' src="/images/up.png" alt="Submit Form" value='Upvote'>
          </form>
          <span id='score'><%= answer.score %></span>
          <form class='downvote' action='/answers/<%= answer.id %>/vote' method='post'>
            <input type='hidden' name='up_down' value='-1'>
            <input type='image' src="/images/down.png" alt="Submit Form" value='Downvote'>
          </form>
        </div>
        </td>
        <td class="postcell">

        <div class="inline-block">
          <%= answer.answer_content %>
        </div>

      <div class="time-created">
         -- <a href="/users/<%= @question.user_id%>"> <%= @question.user.username %> </a>
      </span>

      </td>
      <% if current_user? && !@question.has_best_answer? %>
        <td class="postcell">
          <div class="inline-block">
            <form id='solved-button' action='/questions/<%=@question.id%>/solved/<%= answer.id %>' method='post'>
              <input type='submit' class="btn-outlined green right" value='Mark as Solved'>
            </form>
          </div>
        </td>
      <% end %>
      </tr>
    </tbody>
  </table>
      <div class="answer-comments">
          <% answer.comments.each do |answer_comment| %>
            <p class="answer-comment"><%=answer_comment.comment_content %></p>
          <%end %>
          <p class="answer-comment">
        <a href="/questions/<%=@question.id %>/answers/<%= answer.id %>/comments/new">add a comment</a>
      </p>
      </div>

