<content>
  <div class='user-header'>
    <h3><%= @user.username %></h3>
    <img class='profile-pic' src="/images/users/dummy_profile.jpg">
    <div class='count'><%= @user.reputation %></div>
    <div class='mini'>reputation</div>
    <p class='user-description'>User descriptions - coming soon to a #stretchgoal near you</p>
    <span class='user-answers'>
      <div class='count'><%= @answers.count %></div>
      <div class='mini'>answers</div>
    </span>
    <span class='user-questions'>
      <div class='count'><%= @questions.count %></div>
      <div class='mini'>questions</div>
    </span>
    <span class = 'user-reached'>
      <div class='count'><%= @user.people_reached %></div>
      <div class='mini'>people reached</div>
    </span>
  </div>
  <div class='posts'>
    <h4>Posts</h4>
  </div>
  <div class='user-posts'>
    <ul>
      <% (@questions + @answers).each do |post| %>
        <li>
          <span class='count'><%= post.score %></span>
          <% if post.is_a?(Answer) %>
            <a href="/questions/<%= post.question.id %>"><%= post.question.title %></a>
          <% elsif post.is_a?(Question) %>
            <a href="/questions/<%= post.id %>"><%= post.title %></a>
          <% end %>
          <span class='time-user'><%= post.created_at %></span>
        </li>
      <% end %>
    </ul>
  </div>
</content>
