
<div class="post-header inline-block">
 <h3 class="inline-block">Top Questions</h3>

 <button type="button" class="btn-outlined right" onclick="location.href='/questions/ask'"/> Ask A Question </button>
</div>





<div class="post-container">
  <%Question.all.each do |question| %>
  <article id="<%=question.id%>">
    <div class="votes">
      <div class="count">
        <%= question.votes.count %>
      </div>
      <div class="mini">
        votes
      </div>
    </div>
    <% if question.has_best_answer? %>
      <div class="answers answer-accepted">
    <% elsif question.answers.count >=1 %>
      <div class="answers answered">
    <% else %>
      <div class="answers">
    <% end %>
      <div class="count">
        <%= question.answers.count %>
      </div>
      <div class="mini">
        answers
      </div>
    </div>
    <div class="views">
      <div class="count">
        <%= question.views %>
      </div>
      <div class="mini">
        views
      </div>
    </div>

    <h3 class="inline-block"> <a class="question-link" href="/questions/<%=question.id%>"> <%= question.title %> </a> </h3>

      <span class="time-created">
         Created <%= question.time_since_posted %> ago by <a href="/users/<%=question.user_id%>"> <%=question.user.username %> </a>
      </span>
  </article>
    <% end%>
